* {
    padding:0;
    margin: 0;
}


.header1 {
    background-color: #c03daf;
    height: 70vh;
   
}
nav img{
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
    
}
ul{
    display: flex;
    align-items:flex-start;
    list-style: none;
    
    
    
}

.nav-menu a{
    list-style-type: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #c03daf;
    z-index: 1000;
    
    
   

}
.nav-menu{
    justify-content: space-around;
    padding-left: 50px;
    margin-left: 50px;
    
    
}
.nav-item {
padding: 20px;
padding-top: 42px;




}
.nav-item a {
    color: white;
    display: flex;
    font-size: 14px;

}

.right a{
font-size: 14px;;
border: none;
}
 

#Free{
    background-color: rgb(2, 2, 36);
    padding: 12px 30px;
    border-radius: 10px;  
    font-size:15px ;   
}


#log{
    padding: 8px 30px;
    border-radius: 10px;
   border:2px solid white;
   margin-right: 10px;
   
   

}
.right{
    margin-top: -10px;
}
.cnt-our{
    text-align: center;
    padding-top:150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.contact{
    font-size: 30px;
}
h5{
    opacity:75%;
}

 .right .nav-item {
    padding: 1px;
    margin-left: 12px;
}
.right{
    margin: 20px;
    margin-left: 150px;
}

.nav-item a:hover {
   opacity: 0.4;
   transition: all 0.3s ease-in-out;
}

h2 {
    color: #c03daf;
    font-size: 35px;
}

#got{
    font-size:15px ;
}





input{ 
width:90%;
padding-bottom: 15px;
margin-bottom: 30px;
padding-top: 10px;
border-radius: 10px;
border-style: solid;
opacity: 0.6;
padding-left: 12px;
}

.section1{
    display: flex;
    flex-wrap: wrap;
    column-gap:-10px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}


.container1 {
    flex:1 1 200px;
    column-gap: 100px;
    margin: 50px;
}
.section1 p {
    font-size: 13px;
}
.container1 a{
    list-style-type: none;
    text-decoration: none;

}


.icon-body i {
    margin-top: 30px;
    color: #c03daf;
    font-size: 60px;
    
    
}
h3{
    font-size: 25px;
}
.btnnn{
    background-color:#c03daf;
    padding: 12px 30px;
    border-radius: 10px;  
    font-size:15px ;   
    border:none;
    margin-left: 330px;
    cursor: pointer;
}
.btnnn a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btnnn:hover{
    opacity: 0.4;
    transition: 0.4s all ease ;
}
.article1{
    padding-left:67px;
    margin-top:-60px ;
}

  

textarea {
    width: 90%;
    resize: none;
    padding-bottom: 15px;
margin-bottom: 30px;
padding-top: 10px;
border-radius: 10px;
border:3px solid gray;
opacity: 0.6;
padding-left: 12px;
}
footer{
    background-color: #404040;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.footer_menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex: 2 2 9px;
    margin: 15px;
    margin-left:80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-col :hover{
    color:#c03daf ;
   transition: all 0.3s ease-in-out;
}

.footer-col a {
    text-decoration: none;
    color:gray;
    opacity: 0.5;
    line-height: 25px ;
    font-size:10px;
}
h4{
    color: white;
    font-size: 12px;
    opacity:0.6 ;
}
#stay-tuned{
    color: white;
    font-size: 12px;
    opacity:0.6 ;

}

.button{
    background-color: rgb(2, 2, 36);
    padding: 3px 20px ;
    border-radius: 10px;  
    font-size:15px ;   
}
.button:hover{
    opacity: 0.4;
    transition: 0.4s all ease;
    cursor: pointer;
}
.button a {
    color: white;
    opacity: 1;
    padding-left: 5px;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    
}
.icon-footer i{
    color: #c03daf;
    font-size: 15px;
    display: flex;
    padding:5px;
     

    
}
    

.all-icons-footer{
    display: flex;
    margin-left:-5px ;
   
}
.copyright-footer {
    background-color: black;
    width: 99vw;
    opacity: 0.4;
}

.copyright-footer a{
    text-decoration: none;
    color: #c03daf;
    
}

.copyright-footer p{
    color: grey;
    margin-left: 70px;
    
}